<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->




<configuration>

  <appSettings>
    
    <add key="Database_Name" value="KPCLS_Pilot"/>
     
</appSettings>
   
  
  <connectionStrings>
    
   
   
      <!--<add name="SCLSCon" connectionString="Data Source=localhost;Initial Catalog=KPCLS_Pilot; User ID=sa;Password=125690"-->
    
           <add name="SCLSCon" connectionString="Data Source=.;Initial Catalog=scls_pilot;Integrated Security=True"
    
  providerName="System.Data.SqlClient"  />
   


    <!--<add name="ITSSISCon" connectionString="Data Source=hasnain-khan;Initial Catalog=ITSSInventorySytem;Integrated Security=True" />
    <add name="ITSSInventorySytem" connectionString="Data Source=hasnain-khan;Initial Catalog=ITSSInventorySytem;Integrated Security=True"
      providerName="System.Data.SqlClient" />-->
  </connectionStrings>



   <system.web>
     <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0"/>
    <authentication mode="Forms">
      <forms defaultUrl="~/Dashboard.aspx" loginUrl="~/Login.aspx" slidingExpiration="true" timeout="2880"></forms>
    </authentication>
   
   <authorization>
      <deny users="?"/>
    </authorization>
  
  </system.web>



</configuration>