<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="Database_Name" value="SCLS2022"/>
	<!--<add key="map_monitor_images_source" value="D:\Mapping PreRollout\CAPI\KPExport\Observer\media"/>
	<add key="map_monitor_images_destination" value="D:\Mapping PreRollout\Mapping\BCLS_Dashboard\assets\media"/>-->
  </appSettings>
  <connectionStrings>
    <!--<add name="SCLSCon" connectionString="Data Source=localhost;Initial Catalog=KPCLS_Pilot; User ID=sa;Password=125690"-->
    <!--<add connectionString="Data Source=.;Initial Catalog=SCLS2022;User ID=sa;Password=SCLS3690net" name="SCLSCon" providerName="System.Data.SqlClient" />-->
    <!--<add connectionString="Data Source=119.159.246.156;Initial Catalog=SCLS2022;User ID=sa;Password=SCLS3690net" name="SCLSCon" providerName="System.Data.SqlClient" />-->
    <!--<add name="SCLSCon" connectionString="Data Source=.;Initial Catalog=SCLS2022" providerName="System.Data.SqlClient" />-->
	  <add connectionString="Data Source=HAMMAD\SQLEXPRESS;Initial Catalog=BCLS2023;Integrated Security=False;User ID=sa;Password=Audionic@1234" name="SCLSCon" providerName="System.Data.SqlClient"/>
	  <add name="SPCon" connectionString="Data Source=.; Initial Catalog=Supervisor_App;Connection Timeout=3600;Integrated Security=True;" providerName="System.Data.SqlClient"/>
    <!--<add name="ITSSISCon" connectionString="Data Source=hasnain-khan;Initial Catalog=ITSSInventorySytem;Integrated Security=True" />
    <add name="ITSSInventorySytem" connectionString="Data Source=hasnain-khan;Initial Catalog=ITSSInventorySytem;Integrated Security=True"
      providerName="System.Data.SqlClient" />
	  <add name="SCLSCon" connectionString="Data Source=.; Initial Catalog=BCLS2023;Connection Timeout=3600;Integrated Security=True;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" defaultRedirect="DefaultError.aspx"/>
    <compilation debug="true" targetFramework="4.8"/>
    <sessionState timeout="30"/>
    <authentication mode="Forms">
      <forms defaultUrl="~/Dashboard.aspx" loginUrl="~/Login.aspx" slidingExpiration="true" timeout="30"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Dashboard.aspx"/>
      </files>
    </defaultDocument>
    <directoryBrowse enabled="false"/>
  </system.webServer>
</configuration>